<div class="sidebar-blog" id="blog" data-feed="http://blog.nelou.com/<%= I18n.locale %>?feed=json&callback=?" data-target="#blog-content">
  <h3 class="sidebar-blog-title">Blog</h3>
  <div class="sidebar-blog-content" id="blog-content">
    <div class="sidebar-blog-loader">
      <%= render partial: 'shared/loader_circle' %>
    </div>
  </div>
</div>
