<div class="registration-box">
  <%= render partial: 'spree/shared/login', locals: { resource: @user } %>
  <div>
    <%= Spree.t(:or) %> <%= link_to Spree.t(:register_as_new), spree.signup_path %>
  </div>
</div>
